---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';

interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: string;
}

const { title, description, image, type } = Astro.props;
---

<BaseLayout title={title} description={description} image={image} type={type}>
  <Header />
  <main class="flex-1 pt-16 lg:pt-20">
    <slot />
  </main>
  <Footer />
</BaseLayout>
